<%= form_for(@blazon) do |f| %>
  <% if @blazon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blazon.errors.count, "error") %> prohibited this blazon from being saved:</h2>

      <ul>
      <% @blazon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
