<h1>Welcome to Vivval.</h1>

<p>
  This is an invitation to become a Beta user of Vivval. We're in the beginning phases of creating a new social network. With your help, we believe we can create something truly extraordinary.
</p>

<!-- todo: Change for production to use live site + token -->
<a href="http://localhost:3000/users/new/<%=@temporary_user.uuid%>">Begin the Revolution.</a>
